<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>GOLO Test</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
  <container>
    <h1>Monitor the Status or a URL</h1>
    <form action="#" th:action="@{/}" th:object="${monitor}" method="post">

        <table>
          <thead>
            <tr>
              <th>Time</th>
              <th>Server Satus</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="stat : *{statuses}">
              <td th:text="${stat.time}"></td>
              <td th:text="${stat.status}"></td>
            </tr>
          </tbody>
        </table>
    	  <p>Interval (in Milliseconds): <input type="text" th:field="*{interval}" /></p>
        <p>URL: <input type="text" th:field="*{url}" /></p>
        <p th:text="*{message}"></p>
        <p><input type="submit" value="Start" />
          <button><a href="/">Refresh</a></button>
          <button><a href="/stop">Stop</a></button>
        </p>
    </form>
  </container>
</body>
</html>
<style>
container{
  display:block;
  padding: 30px 20%;
}
a {
    text-decoration: none;
    color: black;
}
table {
  border-collapse: collapse;
}
table, th, td {
  border: 1px solid black;
  padding: 5px;
}</style>
